Repository webcpu/ClaudeCodeUsage: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, apptests

feat: implement Priority 2 architectural improvements
  Documentation/TYPED_THROWS_MIGRATION.md
  Sources/UsageDashboardApp/MenuBar/Theme/MenuBarTheme.swift
  Sources/UsageDashboardApp/MenuBarContentView.swift
  Sources/UsageDashboardApp/Services/MemoryMonitor.swift
  Sources/UsageDashboardApp/ViewModels/UsageViewModel.swift
  Tests/IntegrationTests/EndToEndIntegrationTests.swift
  Tests/UsageDashboardAppTests/MemoryMonitorTests.swift
Due: apptests

perf: cache ISO8601DateFormatter to avoid 16,600+ allocations
  Sources/ClaudeCodeUsage/Models/UsageModels.swift
Due: unittests

perf: replace Collection.firstIndex with memchr for SIMD byte scanning
  Packages/ClaudeLiveMonitor/Sources/ClaudeLiveMonitorLib/JSONLParser.swift
  Sources/ClaudeCodeUsage/Repository/UsageRepository.swift
Due: unittests

refactor: remove redundant DispatchQueue.sync from LiveMonitor actor
  Packages/ClaudeLiveMonitor/Sources/ClaudeLiveMonitorLib/LiveMonitor.swift
Due: none

feat: implement two-phase loading for faster initial display
  Sources/ClaudeCodeUsage/API/ClaudeUsageClient.swift
  Sources/UsageDashboardApp/Services/DependencyContainer.swift
  Sources/UsageDashboardApp/ViewModels/UsageViewModel.swift
Due: unittests, apptests

test: update mocks for new UsageDataService protocol methods
  Tests/ClaudeCodeUsageTests/AsyncCircuitBreakerTests.swift
  Tests/ClaudeCodeUsageTests/AsyncFileSystemTests.swift
  Tests/ClaudeCodeUsageTests/AsyncUsageRepositoryTests.swift
  Tests/ClaudeCodeUsageTests/JSONLParserTests.swift
  Tests/ClaudeCodeUsageTests/ModernUsageViewModelTests.swift
  Tests/ClaudeCodeUsageTests/PerformanceMetricsTests.swift
  Tests/UsageDashboardAppTests/ChartDataSyncTests.swift
  Tests/UsageDashboardAppTests/DayChangeTests.swift
  Tests/UsageDashboardAppTests/ImprovedAsyncDayChangeTests.swift
  Tests/UsageDashboardAppTests/ImprovedDayChangeTests.swift
  Tests/UsageDashboardAppTests/LiveMonitorActorTests.swift
  Tests/UsageDashboardAppTests/UsageViewModelTests.swift
Due: none

chore: minor cleanups and protocol extensions
  Packages/ClaudeLiveMonitor/Sources/ClaudeLiveMonitor/main.swift
  Packages/ClaudeLiveMonitor/Sources/ClaudeLiveMonitorLib/LiveRenderer.swift
  Sources/ClaudeCodeUsage/Protocols/AsyncFileSystemProtocol.swift
  Sources/ClaudeCodeUsage/Protocols/FileSystemProtocol.swift
  Sources/ClaudeCodeUsage/Repository/AsyncUsageRepository.swift
  Sources/ClaudeCodeUsage/Repository/ResilientUsageRepository.swift
  Sources/ClaudeCodeUsage/Services/CircuitBreakerService.swift
  Sources/ClaudeCodeUsage/Services/RetryService.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid.swift
  Sources/UsageDashboardApp/MenuBarApp.swift
  Sources/UsageDashboardApp/Services/AsyncSessionMonitorService.swift
  Sources/UsageDashboardApp/Services/ModernAsyncServices.swift
  Sources/UsageDashboardApp/UsageDashboardApp.swift
  Sources/UsageDashboardApp/Views/ModernDashboardView.swift
Due: unittests, apptests

refactor: remove unused repository implementations
  Sources/ClaudeCodeUsage/Repository/ResilientUsageRepository.swift
  Sources/ClaudeCodeUsage/Repository/UsageRepositoryBuilder.swift
Due: unittests

refactor: remove unused infrastructure code
  Sources/ClaudeCodeUsage/Concurrency/AdvancedAsyncStreams.swift
  Sources/ClaudeCodeUsage/Services/CacheService.swift
  Sources/ClaudeCodeUsage/Services/CircuitBreakerService.swift
  Sources/ClaudeCodeUsage/Services/RetryService.swift
Due: unittests

chore: clean up .gitignore
  .gitignore
Due: none

refactor: apply FP principles to Heatmap color and data models
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Models/HeatmapData.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Utilities/ColorScheme.swift
Due: apptests

refactor: apply FP and SLAP to date calculations and configuration
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Models/HeatmapConfiguration.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Utilities/DateCalculations.swift
Due: apptests

refactor: apply SLAP to HeatmapViewModel
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/ViewModels/HeatmapViewModel.swift
Due: apptests

refactor: apply FP and SLAP to Heatmap views
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip.swift
Due: apptests

refactor: split HeatmapLegend into multiple files
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend/ActivityLevelLabels.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend/HeatmapLegend+Factory.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend/HeatmapLegend.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend/HeatmapLegendBuilder.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapLegend/LegendSquare.swift
Due: apptests

refactor: split HeatmapTooltip into multiple files
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/ActivityLevel.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/HeatmapTooltip+Factory.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/HeatmapTooltip.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/HeatmapTooltipBuilder.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/TooltipConfiguration.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapTooltip/TooltipPositioning.swift
Due: apptests

refactor: split HeatmapGrid into multiple files
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/BorderStyle.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/DaySquare.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/HeatmapGrid.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/HeatmapGridLayout.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/HeatmapGridPerformance.swift
  Sources/UsageDashboardApp/MenuBar/Components/Heatmap/Views/HeatmapGrid/WeekColumn.swift
Due: apptests

chore: remove dead debugging scripts from root directory
  analyze_units.swift
  check_claudia_source.swift
  check_cost_field.swift
  check_other_files.swift
  deep_investigate.swift
  find_real_pattern.swift
  investigate_tokens.swift
  test_cli.swift
  test_dedup.swift
  test_hypotheses.swift
  test_real_data.swift
  test_sdk_minimal.swift
  test_simple.swift
Due: none

chore: remove dead files and orphaned development artifacts
  .gitignore
  ARCHITECTURE_IMPROVEMENTS.md
  CHART_SYNC_FIX_FINAL.md
  CHART_SYNC_FIX_SUMMARY.md
  Examples/UsageDashboardExample.swift
  PERFORMANCE_FIX.md
  README_DISCREPANCY.md
  SOLID_REFACTORING.md
  TEST_FIX_SUMMARY.md
  test_output.txt
Due: none

chore: remove unused SDK services and orphaned tests
  Sources/ClaudeCodeUsage/Documentation/TypeNamespacing.md
  Sources/ClaudeCodeUsage/Services/CacheService.swift
  Sources/ClaudeCodeUsage/Services/RetryService.swift
  Tests/IntegrationTests/EndToEndIntegrationTests.swift
  Tests/TestPlan.md
  Tests/Unit/ErrorScenarioTests.swift
Due: unittests

chore: remove historical Documentation folder
  Documentation/ADR-001-Observable-Pattern.md
  Documentation/ARCHITECTURE_IMPROVEMENTS.md
  Documentation/ARCHITECTURE_REFACTORING.md
  Documentation/COMPILER_ERRORS_FIXED.md
  Documentation/CodeTemplates.md
  Documentation/DAY_CHANGE_FIX.md
  Documentation/DAY_CHANGE_ISSUE.md
  Documentation/GEAR_MENU_IMPLEMENTATION.md
  Documentation/LIVEMONITOR_ACTOR_MIGRATION.md
  Documentation/MAC_NATIVE_FEATURES.md
  Documentation/OPEN_AT_LOGIN.md
  Documentation/SWIFT6_IMPLEMENTATION_SUMMARY.md
  Documentation/SWIFT6_MODERNIZATION_REVIEW.md
  Documentation/TDD-Guidelines.md
  Documentation/TEST_FIX_HEATMAP.md
  Documentation/TYPED_THROWS_MIGRATION.md
Due: none

docs: rewrite README to focus on macOS app
  README.md
Due: none

chore: remove duplicate and empty test files
  Tests/ClaudeCodeUsageKitTests/ClaudeCodeUsageTests.swift
  Tests/ClaudeCodeUsageTests/DayChangeTests.swift
  Tests/ClaudeCodeUsageTests/HourlyCostChartTests.swift
  Tests/ClaudeCodeUsageTests/ImprovedDayChangeTests.swift
Due: none

refactor: align folder structure with actual features
  Sources/ClaudeCodeUsage/Dashboard/RootCoordinatorView.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Models/HeatmapConfiguration.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Models/HeatmapData.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/ColorScheme.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/DateCalculations.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/ViewModels/HeatmapViewModel.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/BorderStyle.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/DaySquare.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/HeatmapGrid.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/HeatmapGridLayout.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/HeatmapGridPerformance.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapGrid/WeekColumn.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapLegend/ActivityLevelLabels.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapLegend/HeatmapLegend+Factory.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapLegend/HeatmapLegend.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapLegend/HeatmapLegendBuilder.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapLegend/LegendSquare.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/ActivityLevel.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/HeatmapTooltip+Factory.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/HeatmapTooltip.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/HeatmapTooltipBuilder.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/TooltipConfiguration.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/HeatmapTooltip/TooltipPositioning.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Views/YearlyCostHeatmap.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyChartModels.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyChartTooltipViewModel.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyCostChart.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyCostChartSimple.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyTooltipViews.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Services/ChartDataService.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Services/HourlyChartDataService.swift
  Sources/ClaudeCodeUsage/MenuBar/MenuBarContentView.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/CostMetricsSection.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/SessionMetricsSection.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/UsageMetricsSection.swift
  Sources/ClaudeCodeUsage/Shared/ViewModels/UsageViewModel.swift
Due: unittests

refactor: adopt View + Store + Service architecture
  Sources/ClaudeCodeUsage/AppLifecycleManager.swift
  Sources/ClaudeCodeUsage/Dashboard/RootCoordinatorView.swift
  Sources/ClaudeCodeUsage/Dashboard/Views/AnalyticsScreen.swift
  Sources/ClaudeCodeUsage/Dashboard/Views/DailyUsageScreen.swift
  Sources/ClaudeCodeUsage/Dashboard/Views/ModelsScreen.swift
  Sources/ClaudeCodeUsage/Dashboard/Views/ModernDashboardView.swift
  Sources/ClaudeCodeUsage/Dashboard/Views/OverviewScreen.swift
  Sources/ClaudeCodeUsage/MenuBar/MenuBarContentView.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/CostMetricsSection.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/SessionMetricsSection.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/UsageMetricsSection.swift
  Sources/ClaudeCodeUsage/MenuBarApp.swift
  Sources/ClaudeCodeUsage/Shared/Store/UsageStore.swift
  Sources/ClaudeCodeUsage/UsageDashboardApp.swift
Due: unittests

chore: remove dead code applying 80/20 principle
  Sources/ClaudeCodeUsage/Shared/Components/EmptyStateViews.swift
  Sources/ClaudeCodeUsage/Shared/Services/AsyncSessionMonitorService.swift
  Sources/ClaudeCodeUsage/Shared/Services/DependencyContainer.swift
  Sources/ClaudeCodeUsage/Shared/Services/FeatureFlags.swift
  Sources/ClaudeCodeUsage/Shared/Services/ModernAsyncServices.swift
  Sources/ClaudeCodeUsageKit/Benchmarks/FileProcessingBenchmarks.swift
  Sources/ClaudeCodeUsageKit/DataAccess/AsyncUsageRepository.swift
  Sources/ClaudeCodeUsageKit/Domain/TypedErrors.swift
  Sources/ClaudeCodeUsageKit/Infrastructure/CircuitBreakerService.swift
  Sources/ClaudeCodeUsageKit/Infrastructure/PerformanceMetrics.swift
  Sources/ClaudeCodeUsageKit/Infrastructure/PerformanceMonitor.swift
  Tests/ClaudeCodeUsageKitTests/AsyncCircuitBreakerTests.swift
  Tests/ClaudeCodeUsageKitTests/AsyncUsageRepositoryTests.swift
  Tests/ClaudeCodeUsageKitTests/PerformanceMetricsTests.swift
Due: unittests

refactor: move components to their respective feature folders
  Sources/ClaudeCodeUsage/Dashboard/Components/EmptyStateView.swift
  Sources/ClaudeCodeUsage/Dashboard/Components/MetricCard.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/ActionButtons.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/GraphView.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/MetricRow.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/ProgressBar.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/SectionHeader.swift
  Sources/ClaudeCodeUsage/MenuBar/Components/SettingsMenu.swift
Due: unittests

refactor: split DependencyContainer into focused service files
  Sources/ClaudeCodeUsage/Shared/Services/AppConfiguration.swift
  Sources/ClaudeCodeUsage/Shared/Services/DependencyContainer.swift
  Sources/ClaudeCodeUsage/Shared/Services/SessionMonitorService.swift
  Sources/ClaudeCodeUsage/Shared/Services/UsageDataService.swift
  Sources/ClaudeCodeUsage/Shared/Store/UsageStore.swift
Due: unittests

refactor: apply FP+SLAP patterns across services and rename app
  CLAUDE.md
  Makefile
  Sources/ClaudeCodeUsage/Shared/Components/MemoryMonitorView.swift
  Sources/ClaudeCodeUsage/Shared/Services/AppSettingsService.swift
  Sources/ClaudeCodeUsage/Shared/Services/MemoryMonitor.swift
  Sources/ClaudeCodeUsage/Shared/Services/SessionMonitorService.swift
  Sources/ClaudeCodeUsage/Shared/Services/UsageDataService.swift
  Sources/ClaudeCodeUsage/UsageDashboardApp.swift
  Tests/ClaudeCodeUsageTests/MemoryMonitorTests.swift
Due: unittests

chore: move CLAUDE.md to gitignore
  .gitignore
  CLAUDE.md
Due: none

refactor: consolidate hourly chart to single implementation
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyChartTooltipViewModel.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyCostChart.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyCostChartSimple.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/HourlyChart/HourlyTooltipViews.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Services/ChartDataService.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Services/HourlyChartDataService.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/CostMetricsSection.swift
Due: unittests

refactor: simplify UsageStore and UsageDataService
  Sources/ClaudeCodeUsage/Shared/Services/UsageDataService.swift
  Sources/ClaudeCodeUsage/Shared/Store/UsageStore.swift
Due: unittests

chore: remove obsolete test files
  Tests/ClaudeCodeUsageKitTests/FileProcessingBenchmarksTests.swift
  Tests/ClaudeCodeUsageKitTests/ModernUsageViewModelTests.swift
  Tests/ClaudeCodeUsageTests/ChartDataSyncTests.swift
  Tests/ClaudeCodeUsageTests/DeduplicationConcurrencyTest.swift
  Tests/ClaudeCodeUsageTests/FeatureFlagTests.swift
  Tests/ClaudeCodeUsageTests/ImprovedAsyncDayChangeTests.swift
  Tests/ClaudeCodeUsageTests/LiveMonitorActorTests.swift
  Tests/ClaudeCodeUsageTests/UsageViewModelTests.swift
Due: none

fix: show current month only on right side of heatmap
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/DateCalculations.swift
  Tests/ClaudeCodeUsageTests/HeatmapViewModelTests.swift
  Tests/ClaudeCodeUsageTests/HourlyCostChartTests_TDD.swift
Due: unittests

refactor: split DateCalculations.swift into focused modules
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/DateCalculations.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/DateConstants.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/DateRangeValidation.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/HeatmapDateCalculator.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/MonthOperations.swift
  Sources/ClaudeCodeUsage/MenuBar/Charts/Heatmap/Utilities/WeekOperations.swift
Due: unittests

chore: remove failing SOLIDRefactoringTests
  Tests/ClaudeCodeUsageKitTests/SOLIDRefactoringTests.swift
Due: none

refactor: flatten data pipeline by removing service wrappers
  Sources/ClaudeCodeUsage/MenuBar/Charts/Services/ChartDataService.swift
  Sources/ClaudeCodeUsage/MenuBar/Sections/CostMetricsSection.swift
  Sources/ClaudeCodeUsage/Shared/Services/UsageDataService.swift
  Sources/ClaudeCodeUsage/Shared/Store/UsageStore.swift
Due: unittests

Path conditions:
  unittests: any of: Sources/ClaudeCodeUsage/, but not: Tests/**/*, **/*Tests.swift, **/*Mock*.swift, **/TestUtilities.swift, Sources/SimpleCLI/**/*, Sources/UsageDashboardCLI/**/*, .build/**/*, Packages/ClaudeLiveMonitor/Tests/**/*
  apptests: any of: Sources/UsageDashboardApp/, but not: Tests/**/*, **/*Tests.swift, **/*Mock*.swift, **/TestUtilities.swift, Sources/SimpleCLI/**/*, Sources/UsageDashboardCLI/**/*, .build/**/*, Packages/ClaudeLiveMonitor/Tests/**/*
